html{
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ofx-s{
  overflow-x: scroll;
  overflow: hidden;
}
.sndrow{
  grid-row: 2/3;
}

.w-100{
  width:100vw;
}
.w-250px{
  width:250px;
}

.row{
  display: flex;
  flex-direction:row;
  padding: 5px;
  border: 1px solid lightseagreen;
  border-radius: 5px;
}

.App{
  padding: 25px;
  color: white;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 55% auto;
  
  width: 90%;
  height: 90%;
}

.dn{
  display:none
}

.p-20{
  padding-left:20px;
  padding-right:20px;
}

.m-20{
  margin-left:20px;
  margin-right:20px;
}

.truc{
  font-size: 2rem;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 11px;
}
.button{
  height: 35px;
margin: 0 3px;
}
.buttonfield{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: lightseagreen;
  
}



/* bbffee blue */

/* e2381e red */

/* 151618 fond */
